<ng-container *ngIf="lot">
    <div class="lot-header">{{ lot.title }}</div>
    <div class="lot-body">
        <div class="lot-description">
            {{lot.description}}
        </div>
        <div class="lot-data">
            <div>Owner: {{lot.ownerUserName}}</div>
            <div>Current Price: {{lot.currentPrice}}</div>
            <div>Minimal next price: {{lot.minNextPrice}}</div>
            <div>Closed at: {{getTime(lot.closingTime)}}  {{getDate(lot.closingTime)}} </div>
        </div>
        <div></div>
    </div>
    <div class="lot-footer">
        <ng-container *ngIf="lot.listeningAllowed">
            <button (click)="onSubscribe(lot)">Listen</button>
        </ng-container>
    </div>
    <br />
    <div class = "error-text"  *ngIf="error">
        {{error}}
    </div>
    <br />
    <form *ngIf="lot.ownerUserName!==userName">
        <input type="number" [(ngModel)]="newPrice" name ="newPrice"
               min="{{lot.minNextPrice}}" />
        <button type="button" (click)="onBet()">I want it!</button>
    </form>

    <table *ngIf="history">
        <thead>
            <tr>
                <td>
                   Challenger
                </td>
                <td>
                    Price
                </td>
                <td>
                    Time
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of history">
                <td>
                    {{record.userName}}
                </td>
                <td>
                    {{record.price}}
                </td>
                <td>
                    {{this.getDate(record.betTime)}}
                    <br />
                    {{this.getTime(record.betTime)}}
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>
<ng-container *ngIf="!lot">
    Loading...
</ng-container>
