.lot-body > div {
    display: inline-block;
}

.lot-description {
    vertical-align: top;
    width: 50%;
}

.lot-header {
    text-align: center;
    font-weight: bold;
}

tr td{
    border:black solid;
}
.error-text {
    color: red;
}
