<input [(ngModel)] ="searchString" type="text" />
<button (click)="onSearch()">Search</button>
<br/>


<ng-container *ngIf="!lotList">
    Loading data...
</ng-container>

<ng-container *ngIf="lotList">
    <app-lot-list [lotList] = "lotList" [url] ="_router.url"></app-lot-list>
</ng-container>
