<h1 id="tableLabel">Lots</h1>

<p *ngIf="!lotList"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="lotList">
    <tbody>
        <ng-template [ngIf]="authorized ">
            <tr *ngFor="let lot of lotList" [routerLink]="['/details/', lot.lotId]">
                <td>
                    <div class="lot-header">{{ lot.title }}</div>
                    <div class="lot-body">
                        <div class="lot-description">
                            {{lot.description}}
                        </div>
                        <div class="lot-data">
                            <div>Owner: {{lot.ownerUserName}}</div>
                            <div>Current Price: {{lot.currentPrice}}</div>
                            <div>Minimal next price: {{lot.minNextPrice}}</div>
                            <div>Closed at: {{getTime(lot.closingTime)}}</div> 
                            <div>{{getDate(lot.closingTime)}}</div> 
                        </div>
                        <div></div>
                    </div>
                    <div class="lot-footer">
                        <ng-container *ngIf="lot.listeningAllowed">
                            <button (click)="onSubscribe(lot)">Listen</button>
                        </ng-container>

                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template [ngIf]="!authorized ">
            <tr *ngFor="let lot of lotList">
                <td>
                    <div class="lot-header">{{ lot.title }}</div>
                    <div class="lot-body">
                        <div class="lot-description">
                            {{lot.description}}
                        </div>
                        <div class="lot-data">
                            <div>Owner: {{lot.ownerUserName}}</div>
                            <div>Current Price: {{lot.currentPrice}}</div>
                            <div>Minimal next price: {{lot.minNextPrice}}</div>
                            <div>Closed at: {{getTime(lot.closingTime)}}</div>
                            <div>{{getDate(lot.closingTime)}}</div>
                        </div>
                        <div></div>
                    </div>
                    <div class="lot-footer">
                        <ng-container *ngIf="lot.listeningAllowed">
                            <button (click)="onSubscribe(lot)">Listen</button>
                        </ng-container>

                    </div>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>