<div class="dropdown show" >
    <div class="dot indicator" *ngIf="hasUnread"></div>
    <div class="nav-link dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Messages
    </div>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" (click)="openDropdown($event)">
        <div class="message-container" *ngIf="messageList" >
            <table>
                <tbody>
                    <tr *ngFor="let message of messageList" (click) ="onSelect(message)">
                        <td>
                            {{this.getDate(message.time)}}
                            <br />
                            {{this.getTime(message.time)}}
                        </td>
                        <td>
                            {{message.title}}
                        </td>
                        <td *ngIf="!message.isRead">
                            <div class="dot"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div *ngIf="!messagesLoaded">
            Loading...
        </div>
        <div *ngIf="!hasMessages">
            No messages
        </div>
    </div>
</div>