.message-container {
    width: 300px !important;
    max-height: 300px;
    overflow-x:visible;
    overflow-y:scroll;
}

div {
}

.dot {
    height: 10px;
    width: 10px;
    background-color: orange;
    border-radius: 50%;
}
.indicator {
    height: 8px;
    width: 8px;
    position: absolute;
    margin-top: 23px;
    margin-left: 3px;
}