<ng-container *ngIf="error">
    <div class="error-text">
        {{ error }}
    </div>
</ng-container>

<input [(ngModel)]="userName" type="text" placeholder="User Name" />
<br />
<input [(ngModel)]="password" type="password" placeholder="Password"/>
<br />
<button (click)="onSignIn()">Sign in</button>
<br />
<br />
<a [routerLink]="['/signup']">sign up</a>
