<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Auction</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
          <ul class="navbar-nav flex-grow">
              <li class="nav-item"
                  [routerLinkActive]="['link-active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/lot-list']">Lots</a>
              </li>
              <ng-container *ngIf="authorizedAsUser">
                  <li class="nav-item"
                      [routerLinkActive]="['link-active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                      <a class="nav-link text-dark" [routerLink]="['/user-lots']">My lots</a>
                  </li>
                  <li class="nav-item"
                      [routerLinkActive]="['link-active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                      <a class="text-dark nav-link" [routerLink]="['/listened-lots']">Listened lots</a>
                  </li>
              </ng-container>
              <ng-container *ngIf="authorized">
                  <li class="nav-item">
                      <app-message-list></app-message-list>
                  </li>
                  <li class="nav-item"
                      [routerLinkActive]="['link-active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                      <a class="nav-link text-dark" [routerLink]="['/signout']">Sign out</a>
                  </li>
              </ng-container>
              <ng-container *ngIf="!authorized">
                  <li class="nav-item"
                      [routerLinkActive]="['link-active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                      <a class="nav-link text-dark" [routerLink]="['/signin']">Sign in</a>
                  </li>
                  <li class="nav-item"
                      [routerLinkActive]="['link-active']"
                      [routerLinkActiveOptions]="{ exact: true }">
                      <a class="nav-link text-dark" [routerLink]="['/signup']">Sign up</a>
                  </li>
              </ng-container>
          </ul>
      </div>
    </div>
  </nav>
</header>
