<ng-container *ngIf="error">
    <div class="error-text">
        {{ error }}
    </div>
</ng-container>

<input [(ngModel)]="userName" type="text" placeholder="User Name"/>
<br />
<input [(ngModel)]="password" type="password" placeholder="Password"/>
<br />
<input [(ngModel)]="passwordConfirmation" type="password" placeholder="Password Confirmation"/>
<br />
<input [(ngModel)]="email" type="email" placeholder="Email"/>
<br />
<button (click)="onSignUp()">Sign up</button>
<br />
<br />
<a [routerLink]="['/signin']">sign in</a>

